# Name of the Market to deploy
MARKET_NAME=Hydration

# Alchemy RPC api key
ALCHEMY_KEY=

# Seed phrase
MNEMONIC=

# Hardhat deployer private key (used by helpers/hardhat-config-helpers.ts)
PRIV_KEY=dededededed

# Etherscan API key to verify contracts
ETHERSCAN_KEY=

# Toggle Permissioned Faucet
PERMISSIONED_FAUCET=false
